<!DOCTYPE html>
<html lang="zxx">
<head>
   <meta charset="utf-8">
   <title>About us</title>
   <meta name="description" content="Noanet- is a Ultimate Multipurpose  Premium  HTML5 Responsive Templeate by HTMLmate Team. You can use this for anykind of multi-purpose Bussiness">
   <meta name="keywords" content="Premium HTML5 Template">
   <meta name="author" content="HTMLmate">
   <!-- Mobile Specific Meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- css Library -->
   <!-- boorstrap -->
   <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
   <!-- themify-icon.css -->
   <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
   <!-- owl-carousel -->
   <link rel="stylesheet" type="text/css" href="/assets/owl.carousel.css">
   <link rel="stylesheet" type="text/css" href="/assets/owl.theme.css">
   <!-- Video-min -->
   <link rel="stylesheet" type="text/css" href="/assets/video.min.css">
   <!-- animate.css -->
   <link rel="stylesheet" type="text/css" href="/assets/animate.css">
   <link rel="stylesheet" type="text/css" href="/assets/font-monia.css">
   <!-- menu style -->
   <link rel="stylesheet" type="text/css" href="/assets/menu.css">
   <!-- style -->
   <link rel="stylesheet" type="text/css" href="/assets/style.css">
   <link rel="stylesheet" type="text/css" href="/assets/template.css">
   <!-- responsive.css -->
   <link rel="stylesheet" type="text/css" href="/assets/responsive.css">
   <!-- space.css -->
   <link rel="stylesheet" type="text/css" href="/assets/space.css">
</head>
<!-- /end of head -->
<body>
   <div id="preloader"></div>
   <div id="wrapper-container" class="wrapper-container">
      <div id="apus-mobile-menu" class="apus-offcanvas hidden-lg hidden-md">
         <div class="apus-offcanvas-body">
            <div class="offcanvas-head bg-primary">
               <button type="button" class="btn btn-toggle-canvas btn-danger" data-toggle="offcanvas">
                  <i class="fa fa-close"></i> 
               </button>
               <strong>MENU</strong>
            </div>
            <nav class="navbar navbar-offcanvas navbar-static">
               <div class="navbar-collapse navbar-offcanvas-collapse">
                  <ul id="main-mobile-menu" class="nav navbar-nav">
                     <li class="has-submenu active">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Home 1</a></li>
                           <li><a href="#">Home 2</a></li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Chess Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Grid Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li><a href="#">List Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Masonry Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li  class="menu-item-19"> <a href="#">Timeline Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Detail with sidebar</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">Left Sidebar</a></li>
                                 <li><a href="#">Right Sidebar</a></li>
                                 <li><a href="#">Without Sidebar</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Page</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Pricing Plans</a></li>
                           <li><a href="#">FQA</a></li>
                           <li><a href="#">Our Gallery</a></li>
                           <li> <a href="#">404 Error</a></li>
                        </ul>
                     </li>
                     <li><a href="#">Our Services</a></li>
                     <li><a href="#">About us</a></li>
                     <li><a href="#">Contact us</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
   <div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
      <div class="container">
         <div class="row">
            <div class="col-xs-4">
               <div class="active-mobile pull-left">
                  <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                     <i class="fa fa-bars"></i>
                  </button>
               </div>
            </div>
            <div class="col-xs-4">
               <div class="logo logo-theme">
                  <a href="home-1.html" >
                     <img src="/assets/logo.png" alt="Noanet">
                  </a>
               </div>
            </div>
            <div class="col-xs-4">
            </div>
         </div>
      </div>
   </div>
   <header id="apus-header" class="site-header header-v2 hidden-sm hidden-xs">
      <div id="apus-topbar" class="apus-topbar">
         <div class="container">
            <div class="topbar-inner clearfix">
               <div class="pull-left contact-topbar-2">
                  <aside id="text-7" class="widget widget_text">
                     <div class="textwidget">
                        <div class="contact">
                           <span class="phone">
                               <b>Phone: 020-69775577</b>
                           </span>
                           <span class="email">
                              Email : <a href="#">support@cloudc.in</a> 
                           </span>
                        </div>
                     </div>
                  </aside>
               </div>
               <div class="pull-right widget-social">
                  <div id="apus_socials_widget-4" class=" widget_apus_socials_widget">
                     <ul class="social list-unstyled list-inline bo-sicolor">
                        <li>
                           <a href="https://www.facebook.com/cloudcube" class="facebook">
                              <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                              <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="youtube">
                              <i class="fa fa-youtube bo-social-youtube">&nbsp;</i><span class="hidden">Youtube</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="linkedin">
                              <i class="fa fa-linkedin bo-social-linkedin">&nbsp;</i><span class="hidden">LinkedIn</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
         <div class="main-sticky-header">
            <div class="container">
               <div class="header-inner">
                  <div class="row">
                     <!-- LOGO -->
                     <div class="col-md-3">
                        <div class="logo-in-theme pull-left">
                           <div class="logo logo-theme">
                              <a href="#">
                                 <img src="/assets/logo.png" alt="logo">
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9 p-static">
                        <div class="main-menu pull-left">
                           <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                              <div class="collapse navbar-collapse">
                               <ul id="primary-menu" class="nav navbar-nav megamenu">
                                    <li><a href="home_2.html">Home</a></li>
                                    <li><a href="blog_2.html">Blog</a></li>
                                    <li><a href="pricing_plan.html">Pricing</a></li>
                                    <li><a href="service.html">Our Services</a></li>
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                              </ul>

                              </div>
                           </nav>
                        </div>
                        <div class="apus-search">
                           <button type="button" class="button-show-search button-setting"><i class="mn-icon-52"></i></button>
                        </div>
                        <a href="#apus-user-login" class="apus-user-login btn"><i class="mn-icon-410"></i> Login</a>
                     </div>
                  </div>
                  <div class="full-top-search-form">
                     <div class="apus-search-form">
                        <form action="#" method="get">
                           <div class="input-group">
                              <input type="text" placeholder="Search" name="s" class="apus-search form-control">
                              <button class="close-search-form" type="button">
                                 <i class="mn-icon-4"></i>
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
      <!-- End of Header 
      ============================================= -->
      <!-- Start of page breadcrum
      ============================================= -->
      <section id="apus-breadscrumb" class="apus-breadscrumb">
         <div class="container">
            <div class="row">
               <div class="wrapper-breads">
                  <div class="breadscrumb-inner">
                     <ol class="breadcrumb">
                        <li><a href="#">Home</a>  </li>
                        <li class="active">About us</li>
                     </ol>
                     <h2 class="bread-title">About us</h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of page breadcrum 
      ============================================= -->
      <!-- Start of who we are
      ============================================= -->
      <section id="who-we-are" class="who-we-are-section">
         <div class="container">
            <div class="row section-content">
               <div class="who-we-are-content">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="kc-elm kc-css-545448 kc_col-sm-6 kc_column_inner kc_col-sm-6">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-732904 kc-title-wrap  left dark">
                                 <div class="title-wrapper">
                                    <h3 class="kc_title raleway bold"><span>Who</span> we are</h3>
                                 </div>
                              </div>
                              <div class="kc-elm kc-css-62333 kc_text_block">
                                 <p>
                                    We are the largest Internet Service Provider<br>and the leader in the telecommunications market.
                                 </p>
                              </div>
                              <div class="kc-elm kc-css-846226 kc_text_block">
                                 <p>
                                    We’re committed to making Internet simple for all clients to connect across both our own network and the National Network. Our vision is to lead the market wit services that harness the potential of the Internet and then differentiate with an ning customer service. We employ more than 2,500 enthusiastic.
                                 </p>
                              </div>
                              <div class="kc-elm kc-css-20557 kc_text_block">
                                 <p>
                                    Internet Service Provider : <span class="text-theme">An Overview </span>
                                 </p>
                              </div>
                              <div class="kc-elm kc-css-709533 kc_text_block">
                                 <p>
                                    Security breaches are on the rise, and it’s not just large organizations that are being targeted. All businesses must take measures.
                                 </p>
                                 <ul class="style-ul">
                                    <li>CloudCube Internet Router new</li>
                                    <li>Free Modem and Router</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /col-sm-6 -->
                     <div class="col-sm-6">
                        <div class="who-we-are-slide">
                           <div class="who-we-are-slide-content">
                              <div class="who-we-are-slide-pic">
                                 <img src="/assets/imgslide.jpg" alt="img">
                              </div>
                              <div class="who-we-are-slide-pic">
                                 <img src="/assets/imgslide.jpg" alt="img">
                              </div>
                              <div class="who-we-are-slide-pic">
                                 <img src="/assets/imgslide.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- / -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of who we are
      ============================================= -->
      <!-- Satrt of love-our-network
      ============================================= -->  
      <section id="love-our-network" class="love-our-network-section v-3">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm  kc_row kc_row_inner">
                  <div class="col-sm-3 kc-elm kc-css-96571 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                     <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-625587 kc_counter_box">
                           <i class="mn-icon-380 element-icon"></i>     <span class="counterup">200</span>
                           <h4>Happy Customers</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3 kc-elm kc_col-sm-3 kc_column_inner kc_col-sm-3">
                     <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-492223 hidden-md hidden-lg"></div>
                        <div class="kc-elm kc-css-576522 kc_counter_box">
                           <i class="mn-icon-1103 element-icon"></i>    <span class="counterup">24</span>
                           <h4>Support Services</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3 kc-elm kc_col-sm-3 kc_column_inner kc_col-sm-3">
                     <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm kc-css-575471 hidden-md hidden-lg"></div>
                        <div class="kc-elm kc-css-128811 kc_counter_box">
                           <i class="mn-icon-776 element-icon"></i>     <span class="counterup">500</span>
                           <h4>Cities Coverage</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3 kc-elm kc_col-sm-3 kc_column_inner kc_col-sm-3">
                     <div class="kc_wrapper kc-col-inner-container">
                        <div class="kc-elm hidden-md hidden-lg"></div>
                        <div class="kc-elm  kc_counter_box">
                           <i class="mn-icon-1225 element-icon"></i>    <span class="counterup">120</span>
                           <h4>Awards Winning </h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of love-our-network
      ============================================= -->
      <!-- Start of why choose us
      ============================================= -->
      <section id="why-choose" class="why-choose-us v2">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>why to</span> choose us</h3>
                  </div>
               </div>
               <div class="kc-elm kc_text_block text-center">
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               </div>
               <!-- /tittle -->
               <div class="kc-elm  kc_row kc_row_inner">
                  <div class="col-sm-4">
                     <div class="kc-elm kc-css-593244 kc_col-sm-4 colmd4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                        <div class="kc_wrapper kc-col-inner-container">
                           <div class="widget widget-features-box style1">
                              <div class="content">
                                 <div class="feature-box">
                                    <div class="fbox-img">
                                       <div class="fbox-icon">
                                          <div class="inner">
                                             <i class="fa fa-clock-o" aria-hidden="true"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="fbox-content">
                                       <h3 class="ourservice-heading raleway">Best Speed</h3>
                                       <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // -->
                  <div class="col-sm-4">
                     <div class="kc-elm  kc_col-sm-4 colmd4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                        <div class="kc_wrapper kc-col-inner-container">
                           <div class="widget widget-features-box style1">
                              <div class="content">
                                 <div class="feature-box">
                                    <div class="fbox-img">
                                       <div class="fbox-icon">
                                          <div class="inner">
                                             <i class="fa fa-wrench" aria-hidden="true"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="fbox-content">
                                       <h3 class="ourservice-heading raleway">installation &amp; setup</h3>
                                       <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // -->
                  <div class="col-sm-4">
                     <div class="kc-elm  kc_col-sm-4 colmd4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                        <div class="kc_wrapper kc-col-inner-container">
                           <div class="widget widget-features-box style1">
                              <div class="content">
                                 <div class="feature-box">
                                    <div class="fbox-img">
                                       <div class="fbox-icon">
                                          <div class="inner">
                                             <i class="fa fa-life-ring" aria-hidden="true"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="fbox-content">
                                       <h3 class="ourservice-heading raleway">24 x 7 Service</h3>
                                       <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // -->
               </div>
            </div>
         </div>
      </section>
      <!-- End of why choose us
      ============================================= -->
      <!-- Start of our client say
      ============================================= -->
      <section id="client-say" class="client-say-section">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm  kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>our</span> client say</h3>
                  </div>
               </div>
               <!-- /title -->
               <div class="client-say-content">
                  <div class="client-say-slide widget widget-testimonials style-layout-1">
                     <div class="testimonials-body">
                        <div class="testimonials-profile style1">
                           <div class="media">
                              <div class="media-body">
                                 <div class="testimonial-meta ">
                                    <div class="info">
                                       <h3 class="name-client"> Jhon Doe</h3>
                                       <span class="job">  Developer - <span>USA</span></span>   
                                    </div>
                                    <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                       nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                    </div>
                                 </div>
                              </div>
                              <div class="media-right">
                                 <div class="testimonial-avatar ">
                                    <div class="image-wrapper image-loaded">
                                       <img src="/assets/user1.jpg" data-src="/assets/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonials-profile style2">
                           <div class="media">
                              <div class="media-left">
                                 <div class="testimonial-avatar ">
                                    <div class="image-wrapper image-loaded">
                                       <img src="/assets/user1.jpg" data-src="/assets/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                    </div>
                                 </div>
                              </div>
                              <div class="media-body">
                                 <div class="testimonial-meta ">
                                    <div class="info">
                                       <h3 class="name-client"> Jhon Doe</h3>
                                       <span class="job">  Developer - <span>USA</span></span>   
                                    </div>
                                    <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                       nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="testimonials-profile style1">
                           <div class="media">
                              <div class="media-body">
                                 <div class="testimonial-meta ">
                                    <div class="info">
                                       <h3 class="name-client"> Jhon Doe</h3>
                                       <span class="job">  Developer - <span>USA</span></span>   
                                    </div>
                                    <div class="description">This is Photoshop's version  of Lorem Ipsum. Proin gravida as
                                       nibh vel velit auctor aliquet. Aenean sollicitudin, lorem.
                                    </div>
                                 </div>
                              </div>
                              <div class="media-right">
                                 <div class="testimonial-avatar ">
                                    <div class="image-wrapper image-loaded">
                                       <img src="/assets/user1.jpg" data-src="/assets/user1.jpg" alt="" class="unveil-image" data-pin-nopin="true">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of of our client say
      ============================================= -->
      <!-- Start of Our mission
      ============================================= -->
      <section id="our-mission" class="our-mission-section">
         <div class="container">
            <div class="row section-content">
               <div class="our-mission-content">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="kc-elm  kc_col-sm-4 colmd4 kc_column_inner kc_col-sm-4">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-415986 kc-feature-boxes kc-fb-layout-2">
                                 <figure class="content-image"><img src="/assets/work1.jpg" alt="">
                                 </figure>
                                 <div class="content-title">OUR STRATEGY</div>
                                 <div class="content-desc">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- // -->
                     <div class="col-sm-4">
                        <div class="kc-elm  colmd4 kc_col-sm-4 kc_column_inner kc_col-sm-4">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-415986 kc-feature-boxes kc-fb-layout-2">
                                 <figure class="content-image"><img src="/assets/work2.jpg" alt="">
                                 </figure>
                                 <div class="content-title">OUR TECHNOLOGY</div>
                                 <div class="content-desc">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- // -->
                     <div class="col-sm-4">
                        <div class="kc-elm colmd4 kc_col-sm-4 kc_column_inner kc_col-sm-4">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-415986 kc-feature-boxes kc-fb-layout-2">
                                 <figure class="content-image"><img src="/assets/work3.jpg" alt="">
                                 </figure>
                                 <div class="content-title">OUR SOLUTION</div>
                                 <div class="content-desc">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- // -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of Our mission
      ============================================= -->
      <!-- Start of our team
      ============================================= -->
      
      <!-- End  of our team
      ============================================= -->
      <!-- Start of video tour
      ============================================= -->
      
      <!-- End  of video tour
      ============================================= -->
      <!-- Start of partner slide
      ============================================= -->
      
      <!-- End of partner slide
      ============================================= -->
      <!-- Start of newslatter
      ============================================= -->
      
      <!-- End of newslatter
      ============================================= -->
      <!-- Start of footer
      ============================================= -->
      <footer>
         <section id="footer-area-v2" class="footer-area-v2-section">
            <div class="container">
               <div class="row section-content">
                  <div class="footer-area-v2-content">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-568202 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-23375 kc_shortcode kc_single_image">
                                    <figure><img src="/assets/f-logo.png" class="" alt=""></figure>
                                 </div>
                                 <div class="kc-elm kc-css-650694 kc_text_block">
                                    <p>
                                       This is Photoshop's version  of Lorem  ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis.
                                    </p>
                                 </div>
                                 <div class="kc-elm kc-css-791968 kc_text_block">
                                    <p>
                                       Duis sed odio sit amet nibh vulputate us a sit amet mauris.
                                    </p>
                                 </div>
                                 <div class="widget widget-social">
                                    <div class="widget-content">
                                       <ul class="social list-inline">
                                          <li>
                                             <a href="https://www.facebook.com/cloudcube" class="facebook">
                                             <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                                             <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1407"></i>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1408"></i>
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm  kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm  kc-title-wrap  left lighting">
                                    <div class="title-wrapper">
                                       <h3 class="kc_title raleway">Company</h3>
                                    </div>
                                 </div>
                                 <div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
                                    <div class="apus_custom_menu">
                                       <div class="widget widget_nav_menu">
                                          <div class="menu-footer-2-container">
                                             <ul class="menu">
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="about_us">About Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="contact">Contact Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="service">Service</a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="blog_2">Blog</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="pricing_plan">Service Plan</a></li>
                                                
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        
                        <!-- /col-sm-3 -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /footer area -->
         <div class="copy-right">
            <div class="container">
               <div class="row">
                  <div class="copy-right-area">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="kc-elm kc-css-971029 kc_text_block">
                              <p>© Copyright 2017 <a href=https://www.qset.in>Qset</a> | All Rights Reserved.</p>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="kc-elm kc-css-135015 kc_shortcode kc_single_image pull-right">
                              <figure><img src="/assets/pay.png" class="" alt="" data-pin-nopin="true"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- End of footer
      ============================================= -->
      <!--  Js Library -->
      <script type="text/javascript" src="/assets/jquery-2.1.4.min.js"></script>
      <!-- Include  for bootstrap -->
      <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
      <!-- Include  for Owl-carousel -->
      <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
      <!-- Include  for magnific-popup -->
      <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
      <!-- Include for counter up -->
      <script type="text/javascript" src="/assets/waypoints.min.js"></script>
      <script type="text/javascript" src="/assets/jquery.counterup.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/wow.min.js"></script>
      <script type="text/javascript">new WOW().init();</script>
      <!-- Include script.js -->
      <script type="text/javascript" src="/assets/script.js"></script>
   </body>
   </html>