<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="utf-8">
      <title>Pricing plan</title>
      <meta name="description" content="Noanet- is a Ultimate Multipurpose  Premium  HTML5 Responsive Templeate by HTMLmate Team. You can use this for anykind of multi-purpose Bussiness">
      <meta name="keywords" content="Premium HTML5 Template">
      <meta name="author" content="HTMLmate">
      <!-- Mobile Specific Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- css Library -->
      <!-- boorstrap -->
      <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
      <!-- themify-icon.css -->
      <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
      <!-- owl-carousel -->
      <link rel="stylesheet" type="text/css" href="/assets/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="/assets/owl.theme.css">
      <!-- Video-min -->
      <link rel="stylesheet" type="text/css" href="/assets/video.min.css">
      <!-- animate.css -->
      <link rel="stylesheet" type="text/css" href="/assets/animate.css">
      <link rel="stylesheet" type="text/css" href="/assets/font-monia.css">
      <!-- menu style -->
      <link rel="stylesheet" type="text/css" href="/assets/menu.css">
      <!-- style -->
      <link rel="stylesheet" type="text/css" href="/assets/style.css">
      <link rel="stylesheet" type="text/css" href="/assets/template.css">
      <!-- responsive.css -->
      <link rel="stylesheet" type="text/css" href="/assets/responsive.css">
      <!-- space.css -->
      <link rel="stylesheet" type="text/css" href="/assets/space.css">
   </head>
   <!-- /end of head -->
   <body>
      <div id="preloader"></div>
   <div id="wrapper-container" class="wrapper-container">
      <div id="apus-mobile-menu" class="apus-offcanvas hidden-lg hidden-md">
         <div class="apus-offcanvas-body">
            <div class="offcanvas-head bg-primary">
               <button type="button" class="btn btn-toggle-canvas btn-danger" data-toggle="offcanvas">
                  <i class="fa fa-close"></i> 
               </button>
               <strong>MENU</strong>
            </div>
            <nav class="navbar navbar-offcanvas navbar-static">
               <div class="navbar-collapse navbar-offcanvas-collapse">
                  <ul id="main-mobile-menu" class="nav navbar-nav">
                     <li class="has-submenu active">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Home 1</a></li>
                           <li><a href="#">Home 2</a></li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Chess Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Grid Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li><a href="#">List Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Masonry Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li  class="menu-item-19"> <a href="#">Timeline Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Detail with sidebar</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">Left Sidebar</a></li>
                                 <li><a href="#">Right Sidebar</a></li>
                                 <li><a href="#">Without Sidebar</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Page</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Pricing Plans</a></li>
                           <li><a href="#">FQA</a></li>
                           <li><a href="#">Our Gallery</a></li>
                           <li> <a href="#">404 Error</a></li>
                        </ul>
                     </li>
                     <li><a href="#">Our Services</a></li>
                     <li><a href="#">About us</a></li>
                     <li><a href="#">Contact us</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
   <div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
      <div class="container">
         <div class="row">
            <div class="col-xs-4">
               <div class="active-mobile pull-left">
                  <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                     <i class="fa fa-bars"></i>
                  </button>
               </div>
            </div>
            <div class="col-xs-4">
               <div class="logo logo-theme">
                  <a href="home-1.html" >
                     <img src="/assets/logo.png" alt="Noanet">
                  </a>
               </div>
            </div>
            <div class="col-xs-4">
            </div>
         </div>
      </div>
   </div>
   <header id="apus-header" class="site-header header-v2 hidden-sm hidden-xs">
      <div id="apus-topbar" class="apus-topbar">
         <div class="container">
            <div class="topbar-inner clearfix">
               <div class="pull-left contact-topbar-2">
                  <aside id="text-7" class="widget widget_text">
                     <div class="textwidget">
                        <div class="contact">
                           <span class="phone">
                               <b>Phone: 020-69775577</b>
                           </span>
                           <span class="email">
                              Email : <a href="#">support@cloudc.in</a> 
                           </span>
                        </div>
                     </div>
                  </aside>
               </div>
               <div class="pull-right widget-social">
                  <div id="apus_socials_widget-4" class=" widget_apus_socials_widget">
                     <ul class="social list-unstyled list-inline bo-sicolor">
                        <li>
                           <a href="#" class="facebook">
                              <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                              <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="youtube">
                              <i class="fa fa-youtube bo-social-youtube">&nbsp;</i><span class="hidden">Youtube</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="linkedin">
                              <i class="fa fa-linkedin bo-social-linkedin">&nbsp;</i><span class="hidden">LinkedIn</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
         <div class="main-sticky-header">
            <div class="container">
               <div class="header-inner">
                  <div class="row">
                     <!-- LOGO -->
                     <div class="col-md-3">
                        <div class="logo-in-theme pull-left">
                           <div class="logo logo-theme">
                              <a href="#">
                                 <img src="/assets/logo.png" alt="logo">
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9 p-static">
                        <div class="main-menu pull-left">
                           <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                              <div class="collapse navbar-collapse">
                               <ul id="primary-menu" class="nav navbar-nav megamenu">
                                    <li><a href="home_2.html">Home</a></li>
                                    <li><a href="blog_2.html">Blog</a></li>
                                    <li><a href="pricing_plan.html">Pricing</a></li>
                                    <li><a href="service.html">Our Services</a></li>
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                              </ul>

                              </div>
                           </nav>
                        </div>
                        <div class="apus-search">
                           <button type="button" class="button-show-search button-setting"><i class="mn-icon-52"></i></button>
                        </div>
                        <a href="#apus-user-login" class="apus-user-login btn"><i class="mn-icon-410"></i> Login</a>
                     </div>
                  </div>
                  <div class="full-top-search-form">
                     <div class="apus-search-form">
                        <form action="#" method="get">
                           <div class="input-group">
                              <input type="text" placeholder="Search" name="s" class="apus-search form-control">
                              <button class="close-search-form" type="button">
                                 <i class="mn-icon-4"></i>
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
      <!-- End of Header 
      ============================================= -->
      <!-- Start of page breadcrum
         ============================================= -->
      <section id="apus-breadscrumb" class="apus-breadscrumb">
         <div class="container">
            <div class="row">
               <div class="wrapper-breads">
                  <div class="breadscrumb-inner">
                     <ol class="breadcrumb">
                        <li><a href="#">Home</a>  </li>
                        <li class="active">Pricing Plan</li>
                     </ol>
                     <h2 class="bread-title">Pricing Plan</h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of page breadcrum 
         ============================================= -->
      <!-- Start of your Plan
         ============================================= -->
      <section id="your-plan-1" class="your-plan-section v2">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>CHOOSE</span> YOUR PLAN</h3>
                  </div>
               </div>
               <!-- /title -->
               <div class="pricing-table">
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unlimited</div>
                                 <div class="content-sub-title">Council Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">500</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>Unlimited Bandwidth
                              </li>
                              <li>512 kbps Speed 
                              </li>
                              
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="priceing-label">
                              BEST SELLER		
                           </div>
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Limited</div>
                                 <div class="content-sub-title">Silver Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">500</span>
                                 <span class="content-duration">3 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>2 mbps-upto-10 GB- Data Limit
                              </li>
                              <li>Limited Bandwidth
                              </li>
                              <li>After 512 kbps speed
                              </li>
                              
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unlimited</div>
                                 <div class="content-sub-title">Gold Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">600</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>Unlimited Bandwidth
                              </li>
                              <li>1 mbps Speed 
                              </li>
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Ultimated</div>
                                 <div class="content-sub-title">Business Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">600</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>2 mbps-upto-20 GB Data Limit
                              </li>
                              <li>Unlimited Bandwidth
                              </li>
                              <li>After 512 kbps Speed 
                              </li>
                              </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of your Plan
         ============================================= -->
      <!-- Start of your Plan
         ============================================= -->
      <section id="your-plan" class="your-plan-section v3">
         <div class="container">
            <div class="row section-content-2">
               <div class="welcome-content">
                  <div class="kc-elm kc-css-168796 kc-title-wrap   lighting wel">
                     <div class="title-wrapper raleway">
                        <h3 class="kc_title">Choose your plan</h3>
                     </div>
                  </div>
                  <div class="kc-cta-desc">
                     <div class="kc-cta-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</div>
                  </div>
               </div>
               <!-- /title -->
               <div class="pricing-table">
                  <div class="row">
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unlimited</div>
                                 <div class="content-sub-title">Council Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">800</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>Unlimited Bandwidth
                              </li>
                              <li>2 mbps Speed 
                              </li>
                              </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="priceing-label">
                              BEST SELLER		
                           </div>
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Limited</div>
                                 <div class="content-sub-title">Silver Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">800</span>
                                 <span class="content-duration">2 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>25 GB Data Limit
                              </li>
                              <li>Limited Bandwidth
                              </li>
                              <li>8 mbps Speed 
                              </li>
                              </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unlimited</div>
                                 <div class="content-sub-title">Gold Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">1000</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              
                              <li>Unlimited Bandwidth
                              </li>
                              <li>4 mbps Speed 
                              </li>
                              
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                     <div class="col-sm-3">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Limited</div>
                                 <div class="content-sub-title">Business Plan
                                 </div>
                              </div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">1000</span>
                                 <span class="content-duration">3 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>50 GB Data Limit
                              </li>
                              <li>limited Bandwidth
                              </li>
                              <li>8 mbps Speed 
                              </li>
                              </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-3 -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of your Plan
         ============================================= -->
      <!-- Start of home-2 pricing table
         ============================================= -->
      <section id="pricing-2" class="pricing-2-section">
         <div class="container">
            <div class="row">
               <div class="pricing-plan-content">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 colmd4 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unimited</div>
                                 <div class="content-sub-title">Council Plan
                                 </div>
                              </div>
                              <div class="content-icon-image-header"><img src="/assets/pricing-icon1.png" alt="" data-pin-nopin="true"></div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">1200</span>
                                 <span class="content-duration">3 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>Unlimited Bandwidth
                              </li>
                              <li>512 kbps Speed 
                              
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-4 -->
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 colmd4 text-center mddl">
                           <div class="priceing-label">
                              BEST SELLER    
                           </div>
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Limited</div>
                                 <div class="content-sub-title">Silver Plan
                                 </div>
                              </div>
                              <div class="content-icon-image-header"><img src="/assets/pricing-icon2.png" alt="" data-pin-nopin="true"></div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">1500</span>
                                 <span class="content-duration">3 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                              <li>45 GB
                              </li>
                              <li>Limited Bandwidth
                              </li>
                              <li> After 4 mbps Speed 
                              
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                     <!-- /col-sm-4 -->
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 colmd4 text-center">
                           <div class="header-pricing">
                              <div class="content-title">
                                 <div>Unlimited</div>
                                 <div class="content-sub-title">Gold Plan
                                 </div>
                              </div>
                              <div class="content-icon-image-header"><img src="/assets/pricing-icon3.png" alt="" data-pin-nopin="true"></div>
                              <div class="kc-pricing-price">
                                 <span class="content-currency"><i class="fa fa-inr"></i></span>
                                 <span class="content-price">2000</span>
                                 <span class="content-duration">1 Month</span>
                              </div>
                           </div>
                           <ul class="content-desc">
                             
                              </li>
                              <li>Unlimited Bandwidth
                              </li>
                              <li>512 kbps Speed 
                              </li>
                                                          
                           </ul>
                           <div class="content-button text-uppercase"><a href="contact.html">Get Now!</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of home-2 pricing table
         ============================================= -->
      <!-- Start of newslatter
         ============================================= -->
      
      <!-- End of newslatter
         ============================================= -->
      <!-- Start of footer
         ============================================= -->
      <footer>
         <section id="footer-area-v2" class="footer-area-v2-section">
            <div class="container">
               <div class="row section-content">
                  <div class="footer-area-v2-content">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-568202 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-23375 kc_shortcode kc_single_image">
                                    <figure><img src="/assets/f-logo.png" class="" alt=""></figure>
                                 </div>
                                 <div class="kc-elm kc-css-650694 kc_text_block">
                                    <p>
                                       This is Photoshop's version  of Lorem  ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis.
                                    </p>
                                 </div>
                                 <div class="kc-elm kc-css-791968 kc_text_block">
                                    <p>
                                       Duis sed odio sit amet nibh vulputate us a sit amet mauris.
                                    </p>
                                 </div>
                                 <div class="widget widget-social">
                                    <div class="widget-content">
                                       <ul class="social list-inline">
                                         <li>
                                             <a href="https://www.facebook.com/cloudcube" class="facebook">
                                             <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                                             <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1407"></i>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1408"></i>
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                    <div class="title-wrapper">
                                       <h3 class="kc_title raleway">Company</h3>
                                    </div>
                                 </div>
                                 <div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
                                    <div class="apus_custom_menu">
                                       <div class="widget widget_nav_menu">
                                          <div class="menu-footer-2-container">
                                             <ul class="menu">
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="about_us">About Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="contact">Contact Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="#">gift vouchers</a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="#">Site Map</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="#">Testimonials</a></li>
                                                
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                   
                                 </div>
                                
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /footer area -->
         <div class="copy-right">
            <div class="container">
               <div class="row">
                  <div class="copy-right-area">
                     <div class="row">
                        <div class="col-sm-6">
                             <div class="kc-elm kc-css-971029 kc_text_block">
                              <p>© Copyright 2017 <a href=https://www.qset.in>Qset</a> | All Rights Reserved.</p>
                           </div>
                        </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="kc-elm kc-css-135015 kc_shortcode kc_single_image pull-right">
                              <figure><img src="/assets/pay.png" class="" alt="" data-pin-nopin="true"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- End of footer
         ============================================= -->
      <!--  Js Library -->
      <script type="text/javascript" src="/assets/jquery-2.1.4.min.js"></script>
      <!-- Include  for bootstrap -->
      <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
      <!-- Include  for Owl-carousel -->
      <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
      <!-- Include  for magnific-popup -->
      <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
      <!-- Include for counter up -->
      <script type="text/javascript" src="/assets/waypoints.min.js"></script>
      <script type="text/javascript" src="/assets/jquery.counterup.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/wow.min.js"></script>
      <script type="text/javascript">new WOW().init();</script>
      <!-- Include script.js -->
      <script type="text/javascript" src="/assets/script.js"></script>
   </body>
</html>