`<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="utf-8">
      <title>Service</title>
      <meta name="description" content="Noanet- is a Ultimate Multipurpose  Premium  HTML5 Responsive Templeate by HTMLmate Team. You can use this for anykind of multi-purpose Bussiness">
      <meta name="keywords" content="Premium HTML5 Template">
      <meta name="author" content="HTMLmate">
      <!-- Mobile Specific Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- css Library -->
      <!-- boorstrap -->
      <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
      <!-- themify-icon.css -->
      <link rel="stylesheet" type="text/css" href="assets/font-awesome.min.css">
      <!-- owl-carousel -->
      <link rel="stylesheet" type="text/css" href="assets/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="assets/owl.theme.css">
      <!-- Video-min -->
      <link rel="stylesheet" type="text/css" href="assets/video.min.css">
      <!-- animate.css -->
      <link rel="stylesheet" type="text/css" href="assets/animate.css">
      <link rel="stylesheet" type="text/css" href="assets/font-monia.css">
      <!-- menu style -->
      <link rel="stylesheet" type="text/css" href="assets/menu.css">
      <!-- style -->
      <link rel="stylesheet" type="text/css" href="assets/style.css">
      <link rel="stylesheet" type="text/css" href="assets/template.css">
      <!-- responsive.css -->
      <link rel="stylesheet" type="text/css" href="assets/responsive.css">
      <!-- space.css -->
      <link rel="stylesheet" type="text/css" href="assets/space.css">
   </head>
   <!-- /end of head -->
   <body>
   <div id="preloader"></div>
   <div id="wrapper-container" class="wrapper-container">
      <div id="apus-mobile-menu" class="apus-offcanvas hidden-lg hidden-md">
         <div class="apus-offcanvas-body">
            <div class="offcanvas-head bg-primary">
               <button type="button" class="btn btn-toggle-canvas btn-danger" data-toggle="offcanvas">
                  <i class="fa fa-close"></i> 
               </button>
               <strong>MENU</strong>
            </div>
            <nav class="navbar navbar-offcanvas navbar-static">
               <div class="navbar-collapse navbar-offcanvas-collapse">
                  <ul id="main-mobile-menu" class="nav navbar-nav">
                     <li class="has-submenu active">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Home 1</a></li>
                           <li><a href="#">Home 2</a></li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Blog</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Chess Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Grid Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li><a href="#">List Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Masonry Layout</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">2 Column</a></li>
                                 <li><a href="#">3 Column</a></li>
                              </ul>
                           </li>
                           <li  class="menu-item-19"> <a href="#">Timeline Layout</a></li>
                           <li  class="has-submenu">
                              <a href="#">Detail with sidebar</a> <span class="icon-toggle"></span>
                              <ul class="sub-menu">
                                 <li><a href="#">Left Sidebar</a></li>
                                 <li><a href="#">Right Sidebar</a></li>
                                 <li><a href="#">Without Sidebar</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Page</a> <span class="icon-toggle"></span>
                        <ul class="sub-menu">
                           <li><a href="#">Pricing Plans</a></li>
                           <li><a href="#">FQA</a></li>
                           <li><a href="#">Our Gallery</a></li>
                           <li> <a href="#">404 Error</a></li>
                        </ul>
                     </li>
                     <li><a href="#">Our Services</a></li>
                     <li><a href="#">About us</a></li>
                     <li><a href="#">Contact us</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
   <div id="apus-header-mobile" class="header-mobile hidden-lg hidden-md clearfix">
      <div class="container">
         <div class="row">
            <div class="col-xs-4">
               <div class="active-mobile pull-left">
                  <button data-toggle="offcanvas" class="btn btn-sm btn-danger btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                     <i class="fa fa-bars"></i>
                  </button>
               </div>
            </div>
            <div class="col-xs-4">
               <div class="logo logo-theme">
                  <a href="home-1.html" >
                     <img src="/assets/logo.png" alt="Noanet">
                  </a>
               </div>
            </div>
            <div class="col-xs-4">
            </div>
         </div>
      </div>
   </div>
   <header id="apus-header" class="site-header header-v2 hidden-sm hidden-xs">
      <div id="apus-topbar" class="apus-topbar">
         <div class="container">
            <div class="topbar-inner clearfix">
               <div class="pull-left contact-topbar-2">
                  <aside id="text-7" class="widget widget_text">
                     <div class="textwidget">
                        <div class="contact">
                           <span class="phone">
                               <b>Phone: 020-69775577</b>
                           </span>
                           <span class="email">
                              Email : <a href="#">support@cloudc.in</a> 
                           </span>
                        </div>
                     </div>
                  </aside>
               </div>
               <div class="pull-right widget-social">
                  <div id="apus_socials_widget-4" class=" widget_apus_socials_widget">
                     <ul class="social list-unstyled list-inline bo-sicolor">
                        <li>
                           <a href="https://www.facebook.com/cloudcube" class="facebook">
                              <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                           </a>
                        </li>
                        <li>
                           <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                              <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="youtube">
                              <i class="fa fa-youtube bo-social-youtube">&nbsp;</i><span class="hidden">Youtube</span>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="linkedin">
                              <i class="fa fa-linkedin bo-social-linkedin">&nbsp;</i><span class="hidden">LinkedIn</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
         <div class="main-sticky-header">
            <div class="container">
               <div class="header-inner">
                  <div class="row">
                     <!-- LOGO -->
                     <div class="col-md-3">
                        <div class="logo-in-theme pull-left">
                           <div class="logo logo-theme">
                              <a href="#">
                                 <img src="/assets/logo.png" alt="logo">
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9 p-static">
                        <div class="main-menu pull-left">
                           <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                              <div class="collapse navbar-collapse">
                               <ul id="primary-menu" class="nav navbar-nav megamenu">
                                    <li><a href="home_2.html">Home</a></li>
                                    <li><a href="blog_2.html">Blog</a></li>
                                    <li><a href="pricing_plan.html">Pricing</a></li>
                                    <li><a href="service.html">Our Services</a></li>
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                              </ul>

                              </div>
                           </nav>
                        </div>
                        <div class="apus-search">
                           <button type="button" class="button-show-search button-setting"><i class="mn-icon-52"></i></button>
                        </div>
                        <a href="#apus-user-login" class="apus-user-login btn"><i class="mn-icon-410"></i> Login</a>
                     </div>
                  </div>
                  <div class="full-top-search-form">
                     <div class="apus-search-form">
                        <form action="#" method="get">
                           <div class="input-group">
                              <input type="text" placeholder="Search" name="s" class="apus-search form-control">
                              <button class="close-search-form" type="button">
                                 <i class="mn-icon-4"></i>
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
      <!-- End of Header 
      ============================================= -->
      <!-- Start of page breadcrum
         ============================================= -->
      <section id="apus-breadscrumb" class="apus-breadscrumb">
         <div class="container">
            <div class="row">
               <div class="wrapper-breads">
                  <div class="breadscrumb-inner">
                     <ol class="breadcrumb">
                        <li><a href="#">Home</a>  </li>
                        <li class="active">Service</li>
                     </ol>
                     <h2 class="bread-title">Service</h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of page breadcrum 
         ============================================= -->
      <!-- Start of service
         ============================================= -->
      <section id="service" class="service-section">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm kc-css-294644 kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>OUR</span>  SERVICES</h3>
                  </div>
               </div>
               <!-- /title -->
               <div class="service-section-content clearfix">
                  <div class="service-tab row">
                     <div class="tab">
                        <!-- tab-title -->
                        <ul class="tabs col-sm-3 active text-uppercase">
                           <li class="current"><a href="#"><i class="mn-icon-978"></i>Best Selling Plans</a></li>
                           <li class=""><a href="#"><i class="mn-icon-786"></i>Broadband</a></li>
                           <li class=""><a href="#"><i class="mn-icon-780"></i>Wifi Zone</a></li>
                           <li class=""><a href="#"><i class="mn-icon-792"></i>Pay Bills (All User)</a></li>
                           <li class=""><a href="#"><i class="mn-icon-776"></i>New Connection </a></li>
                           <li class=""><a href="#"><i class="mn-icon-825"></i>Secure Internet</a></li>
                        </ul>
                        <!-- / tabs -->
                        <div class="col-sm-4">
                           <div class="service-pic">
                              <img src="/assets/tab-contetn-bg.jpg" alt="image">
                           </div>
                        </div>
                        <div class="tab_content col-sm-5 padding-top-54">
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>BroadBand (Router)</div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>Noanet Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tabs_item -->
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Best Selling Plans</div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>Noanet Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tabs_item -->
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Wifi Zone</div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>Cloudcube Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tabs_item -->
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Pay Bills (All User)</div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>Cloudcube Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tabs_item -->
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>New Connection </div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>CloudCube Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tabs_item -->
                           <div class="tabs_item">
                              <div class="media-body">
                                 <div class="title"><span class="mn-icon-786"><i class="hidden">ff</i></span>Secure Internet</div>
                                 <div class="description">This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<a href="#"> View Plans.. </a></div>
                                 <ul>
                                    <li>CloudCube Internet Router</li>
                                    <li>Free Modem and Router</li>
                                    <li>25 % Off for New Connections</li>
                                 </ul>
                              </div>
                           </div>
                           <!-- / tab_content -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of service
         ============================================= -->
      <!-- Start of your personal
         ============================================= -->
      <section id="your-personal" class="your-personal-section">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm kc-css-939846 kc_col-sm-12 kc_column kc_col-sm-12">
                  <div class="kc-col-container">
                     <div class="kc-elm kc-css-56429 kc_row kc_row_inner row">
                        <div class="kc-elm kc-css-399806 kc_col-sm-7 kc_column_inner kc_col-sm-7">
                           <div class="col-sm-7">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-320356 kc_text_block">
                                    <p>Your personal – speed</p>
                                 </div>
                                 <div class="kc-elm kc-css-18162 kc_text_block">
                                    <p>&amp; quality home connection <span>Starting @ ₹ 500 / Month</span></p>
                                 </div>
                                 <div class="kc-elm kc-css-700307 kc-call-to-action kc-cta-2 kc-is-button">
                                    <div class="kc-cta-desc margin-top-25">
                                       <div class="kc-cta-text text-left">When choosing among the best high speed Internet providers, there are several other factors that should be taken into consideration besides just the available download speeds. </div>
                                    </div>
                                    <div class="kc-cta-button"><a href="contact">More Plans</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-5">
                              <div class="p-img">
                                 <figure><img src="/assets/fff.png" alt=""></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of your personal
         ============================================= -->
      <!-- Satrt of FAQ
         ============================================= -->
      <section id="few-ques" class="few-ques-asection">
         <div class="container">
            <div class="row section-content-2">
               <div class="kc-elm kc-css-725811 kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>Few</span>QUESTION?</h3>
                  </div>
               </div>
               <div class="kc-elm kc-css-522062 kc_text_block text-center">
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               </div>
               <!-- /tittle -->
               <div class="row">
                  <div class="col-sm-6">
                     <div class="faq-content">
                        <div class="acc-container">
                           <div class="acc-btn">
                              <h1 class="selected">Who We Are? (About Ourself)</h1>
                           </div>
                           <div class="acc-content open">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>How do I transfer files to my website?.</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>Can I upgrade my account if I need to?</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>Do you offer Windows based hosting?</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // -->
                  <div class="col-sm-6">
                     <div class="faq-content">
                        <div class="acc-container">
                           <div class="acc-btn">
                              <h1 class="selected">Who We Are? (About Ourself)</h1>
                           </div>
                           <div class="acc-content open">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>How do I transfer files to my website?.</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>Can I upgrade my account if I need to?</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="acc-btn">
                              <h1>Do you offer Windows based hosting?</h1>
                           </div>
                           <div class="acc-content">
                              <div class="acc-content-inner">
                                 <div class="tab-content">
                                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorm quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus.</div>
                                    <div class="row">
                                       <div class="col-md-6">
                                          <ul>
                                             <li>  <i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                       <div class="col-md-6">
                                          <ul>
                                             <li><i class="mn-icon-21"></i>CloudCube Internet Router</li>
                                             <li><i class="mn-icon-21"></i>Free Modem and Router</li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // -->
               </div>
            </div>
         </div>
      </section>
      <!-- End of FAQ
         ============================================= -->
      <!-- Start of free download
         ============================================= -->
      <section id="free-download" class="free-download-section">
         <div class="container">
            <div class="row section-content">
               <div class="free-download-section-content">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="kc-elm kc-css-579815 kc_col-sm-6 kc_column_inner kc_col-sm-6 kc-pc-loaded">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-105051 hidden-sm hidden-xs"></div>
                              <div class="kc-elm kc-css-741884 hidden-md hidden-lg"></div>
                              <div class="kc-elm kc-css-659695 kc_text_block">
                                 <div class="intro">
                                    <div class="title">Fast Download &amp; Upload<br>
                                       Speeds at an Affordable Price
                                    </div>
                                    <div class="description">
                                       <p>When choosing among the best high speed Internet providers, there are<br>
                                          several other factors that should be taken into consideration besides just the available download speeds.
                                       </p>
                                       <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida as nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis a bibenum auctor, nisi elit consequat ipsum, nec sagittis sem is nibh id elit.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="kc-elm kc-css-115932 hidden-sm hidden-xs"></div>
                              <div class="contact-info ">
                                 <div class="media">
                                    <div class="media-body">
                                       <div class="phone">8237557734<br>
                                          <span></span> 8237557743
                                       </div>
                                    </div>
                                 </div>
                                 <div class="media">
                                    <div class="media-body">
                                       227/1, Dighi Rd, Geeta Society,<br>
                                       Bhosari, Pimpri-Chinchwad,<br>
                                       Maharashtra 411039<br>
                                       Email : <a href="#">support@cloudc.in</a><br>			  	
                                    </div>
                                 </div>
                              </div>
                              <div class="kc-elm kc-css-634025 hidden-md hidden-lg" ></div>
                              <div class="kc-elm kc-css-556965 hidden-sm hidden-xs"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of free download
         ============================================= -->
      <!-- Satrt of service section
         ============================================= -->
      <section id="service-area" class="service-area-section">
         <div class="container">
            <div class="row section-content">
               <div class="service-area-content">
                  <div class="widget widget-features-box default">
                     <div class="content">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-266"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">Broadband</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-978"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">Best Selling Plans</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-780"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">Wifi Zone</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="widget widget-features-box default">
                     <div class="content">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-485"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">Pay Bills (All User)</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-776"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">New Connection</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="feature-box">
                                 <div class="fbox-img">
                                    <div class="fbox-icon">
                                       <div class="inner">
                                          <i class="mn-icon-825"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fbox-content">
                                    <h3 class="ourservice-heading">Secure Internet</h3>
                                    <p class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End of service section
         ============================================= -->
      <!-- Start of why choose us
         ============================================= -->
      <section id="why-choose" class="why-choose-us v2">
         <div class="container">
            <div class="row section-content">
               <div class="kc-elm kc-css-725811 kc-title-wrap raleway  dark">
                  <div class="title-wrapper">
                     <h3 class="kc_title"><span>why to</span> choose us</h3>
                  </div>
               </div>
               <div class="kc-elm kc-css-522062 kc_text_block text-center">
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               </div>
               <!-- /tittle -->
               <div class="service-box-content">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                              </div>
                              <div class="widget widget-features-box style2">
                                 <div class="content">
                                    <div class="feature-box">
                                       <div class="fbox-img">
                                          <div class="fbox-icon">
                                             <div class="inner">
                                                <i class="mn-icon-1104"></i>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="fbox-content">
                                          <h3 class="ourservice-heading">Best Speed</h3>
                                          <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /col-sm-4 -->
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                              </div>
                              <div class="widget widget-features-box style2">
                                 <div class="content">
                                    <div class="feature-box">
                                       <div class="fbox-img">
                                          <div class="fbox-icon">
                                             <div class="inner">
                                                <i class="mn-icon-1481"></i>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="fbox-content">
                                          <h3 class="ourservice-heading">INSTALLATION & SETUP</h3>
                                          <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /col-sm-4 -->
                     <div class="col-sm-4">
                        <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                           <div class="kc_wrapper kc-col-inner-container">
                              <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                              </div>
                              <div class="widget widget-features-box style2">
                                 <div class="content">
                                    <div class="feature-box">
                                       <div class="fbox-img">
                                          <div class="fbox-icon">
                                             <div class="inner">
                                                <i class="mn-icon-1051"></i>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="fbox-content">
                                          <h3 class="ourservice-heading">24 X 7 SERVICE</h3>
                                          <p class="description">Looking for fast broadband without line rental fees? Look no further! We even include Net phone with every Naked DSL plan.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /col-sm-4 -->
                  </div>
                  <!-- /row -->
               </div>
            </div>
         </div>
      </section>
      <!-- End of why choose us
         ============================================= -->
      <!-- Start of newslatter
         ============================================= -->
      
      <!-- End of newslatter
         ============================================= -->
      <!-- Start of footer
         ============================================= -->
      <footer>
         <section id="footer-area-v2" class="footer-area-v2-section">
            <div class="container">
               <div class="row section-content">
                  <div class="footer-area-v2-content">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-568202 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-23375 kc_shortcode kc_single_image">
                                    <figure><img src="/assets/f-logo.png" class="" alt=""></figure>
                                 </div>
                                 <div class="kc-elm kc-css-650694 kc_text_block">
                                    <p>
                                       This is Photoshop's version  of Lorem  ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis.
                                    </p>
                                 </div>
                                 <div class="kc-elm kc-css-791968 kc_text_block">
                                    <p>
                                       Duis sed odio sit amet nibh vulputate us a sit amet mauris.
                                    </p>
                                 </div>
                                 <div class="widget widget-social">
                                    <div class="widget-content">
                                       <ul class="social list-inline">
                                          <li>
                                             <a href="https://www.facebook.com/cloudcube" class="facebook">
                                             <i class="fa fa-facebook bo-social-facebook">&nbsp;</i><span class="hidden">Facebook</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="https://www.instagram.com/cloudcube_broadband/?hl=en" class="instagram">
                                             <i class="fa fa-instagram"></i>&nbsp;</i><span class="hidden">Twitter</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1407"></i>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#" title="">
                                             <i class="mn-icon-1408"></i>
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                    <div class="title-wrapper">
                                       <h3 class="kc_title raleway">Company</h3>
                                    </div>
                                 </div>
                                 <div class="widget widget_apus_custom_menu kc-elm kc-css-937947">
                                    <div class="apus_custom_menu">
                                       <div class="widget widget_nav_menu">
                                          <div class="menu-footer-2-container">
                                             <ul class="menu">
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="about_us">About Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151"><a href="contact">Contact Us</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="service">Service</a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="blog_2">Blog</a></li>
                                                <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-361"><a href="pricing_plan">Pricing Plan</a></li>
                                                
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                        <div class="col-sm-3">
                           <div class="kc-elm kc-css-555002 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                              <div class="kc_wrapper kc-col-inner-container">
                                 <div class="kc-elm kc-css-117500 kc-title-wrap  left lighting">
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /col-sm-3 -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /footer area -->
         <div class="copy-right">
            <div class="container">
               <div class="row">
                  <div class="copy-right-area">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="kc-elm kc-css-971029 kc_text_block">
                              <p>© Copyright 2017 <a href=https://www.qset.in>Qset</a> | All Rights Reserved.</p>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="kc-elm kc-css-135015 kc_shortcode kc_single_image pull-right">
                              <figure><img src="/assets/pay.png" class="" alt="" data-pin-nopin="true"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- End of footer
         ============================================= -->
      <!--  Js Library -->
      <script type="text/javascript" src="/assets/jquery-2.1.4.min.js"></script>
      <!-- Include  for bootstrap -->
      <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
      <!-- Include  for Owl-carousel -->
      <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
      <!-- Include  for magnific-popup -->
      <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
      <!-- Include for counter up -->
      <script type="text/javascript" src="/assets/waypoints.min.js"></script>
      <script type="text/javascript" src="/assets/jquery.counterup.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
      <!-- Include Apper Js -->
      <script type="text/javascript" src="/assets/wow.min.js"></script>
      <script type="text/javascript">new WOW().init();</script>
      <!-- Include script.js -->
      <script type="text/javascript" src="/assets/script.js"></script>
   </body>
</html>