<h1>Editing Offline Payment History</h1>

<%= render 'form', offline_payment_history: @offline_payment_history %>

<%= link_to 'Show', @offline_payment_history %> |
<%= link_to 'Back', offline_payment_histories_path %>
